body {

    font-family: Helvetica, arial, freesans, clean, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #333;
    background-color: #fff;
    width: 1000px;
    margin: 0 auto;
}
.gabarit{
    width: 1000px;
    height: 164px;
    margin: 0 auto;
}
.info-header{
    text-align: center;
}
.info {
    position: relative;
    top: -173px;
}
.fase{
    width: 155px;
    margin-left: 50px;
    margin-top: 10px;
}
p, blockquote, ul, ol, dl {
    margin: 15px 0;
}
h2 {
    font-size: 24px;
    border-bottom: 1px solid #ccc;
    color: #000;
}

a {
    color: #4183C4;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
ul, ol {
    padding-left: 30px;
}
blockquote {
    border-left: 4px solid #DDD;
    padding: 0 15px;
    color: #777;
}
blockquote>:first-child {
    margin-top: 0px;
}
blockquote>:last-child {
    margin-bottom: 0px;
}
hr {
    clear: both;
    margin: 15px 0;
    height: 0px;
    overflow: hidden;
    border: none;
    background: transparent;
    border-bottom: 4px solid #ddd;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 20px 0 10px;
    padding: 0;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}